.nav-links {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

li {
    color: white;
    text-decoration: none;
}